span{
    font-size: 50px;
    color:green;
        cursor:pointer;  
}
span:hover{
    font-size: 150px;
        color:red;
}
#firstspan {color:pink;}
.group{color:#ffff00;}
#secondspan{
    color:purple;
}
th{background-color: black;
    color:white;
    text-transform:uppercase;
    cursor:pointer;
    font-size: 50px
}
th:hover{
    background-color:red;
}
table{
    border: solid 5px
        
}
td{background-color: greenyellow;
    font-size: 40px;
    
}