<!doctype html>
<html>

<head>
    <title>first page</title>
    <link rel='stylesheet' href='/style/style.css'> 
    <style>
        h2{color:red; cursor:all-scroll;}
         h3{color:chartreuse;font si:50;cursor:busy;}
         h4{color:lavenderblush;font size:100; cursor:wait;}
         h5,h6{color:darkmagenta;font size:200;cursor:not-allowed;}
        
         h3{cursor:vertical-text;}
    </style>
    
    </head>
     <span>Hello World </span><br/>
    
<body>
    <span>  que paso  amigos</span><br/>
<span>good morning</span><br/>
    <span id='firstspan'> with id</span><br/>
    <span class='group' id='secondspan'> with ideas</span><br/>
    <span class='group'> group</span>
    
 <h1 style="color:blue">header</h1> 
    <h2>yo man</h2>
    <h3>how are u</h3>
    <h4>wonderful,...how bout u?</h4>
    <h5>learning java and BRACKETS</h5>
    <h6 class='group'>Thats good 4 u mman</h6>
</body>
    
</html>