<!doctype html>
<html>
<head>
<link rel='stylesheet' href='/style/style.css'>
        <!--linking to the css file -->
    </head>
    <body>  
       
        
        <h1>TABLES</h1>
    <table>
        <thead>  
            <tr>
                
                <th>first name</th>
                <th>last name</th>
                <th>address</th>
                
            </tr>
        </thead> 
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Mole</td>
                    <td>Arlington</td>
                    
                </tr>
                 <tr>
                    <td>George</td>
                    <td>washington</td>
                    <td>boston</td>
                    
                </tr>
                 <tr>
                    <td>curious</td>
                    <td>Doe</td>
                    <td>irving</td>
                    
                </tr>
        
        
            </tbody>
        
    </table>
        <h1>LINKS</h1>
        <a href="https://www.youtube.com/" target="_blank">YouTube</a>
        <a href="index.html" target="_blank">index files</a>
    </body>

</html>